{% load i18n %}
{% load lfs_tags %}
{% load reviews_tags %}

<form id="product-form"
      action="{% url lfs.catalog.views.product_form_dispatcher %}"
      data="{% url lfs_select_variant_from_properties %}"
      method="post">
    {% csrf_token %}
<script>
    var galleries;
	var step = 0;
	var myInterval;
    $(document).ready(function () {
        waitImages();
        myInterval = setInterval(chooseRenderImage,1000);
    });
    
	function waitImage(imgsrc, imageId, imageTitle) {
		var img = new Image();

		img.onerror = function (evt) {
  		    console.log(this.src + " can't be loaded.");
  			setTimeout(waitImage(imgsrc,imageId,imageTitle),3000);
  		}
		img.onload = function (evt) {
  			console.log(this.src + " is loaded.");
			galleries[0].tamir_addImage(imgsrc, imageId, imageTitle);	
  		}
		img.src = imgsrc;
	}
	function chooseRenderImage()
	{
		var date = new Date();
		console.log("date=:"+date.getTime());
		console.log("chhoseRenderImage:"+step);
		if (step > 2) 
		{
			
			clearInterval(myInterval);
			return;
		}
		console.log("step <= 2="+step);
		for (var i = 0 ; i < this.galleries[0].images.length ; i++)
		{
			console.log("galleries[0].images[i="+i+"]=");
			console.log(galleries[0].images[i]);
			if (galleries[0].images[i].image.indexOf("Render") != -1)
			{
				console.log("found i="+i +",step="+step);
				if (step == 1)
				{
					console.log("step == 0:before remove ");
					console.log("galleries[0].images[0]=");
					console.log(galleries[0].images[0]);
					galleries[0].removeImage(0);
					step++;
					return;
				}
				if ((step == 0) || (step == 2))
				{
					console.log("step == 1:before windowLocation ");
					newWindowLocation = window.location.origin + window.location.pathname + "#ad-image-RenderID";
					window.location = newWindowLocation;
					galleries[0].gallery_info.html((i+1)+" / "+galleries[0].images.length);
					step++;
					return;					
				}
			}
		}
	}
	
    function waitImages()
	{
		var tamir_element = document.getElementById('tamir-label');
		var urlTop = tamir_element.getAttribute("urlTop");
		var urlFront = tamir_element.getAttribute("urlFront");
		var urlRender = tamir_element.getAttribute("urlRender");
		var urlSmall = tamir_element.getAttribute("urlSmall");
		var statics = tamir_element.getAttribute("statics");
		
		console.log("Top=" + urlTop);
		console.log("Front=" + urlFront);
		console.log("Render=" + urlRender);
		
		
 		galleries = $('.ad-gallery').adGallery({'loader_image':statics+"adgalery/loader.gif"});
 		galleries[0].settings.description_wrapper = $('#descriptions');
/* 		
    	galleries[0].tamir_addImage(urlSmall, "Small_ID", "Small Title");
    	galleries[0].tamir_addImage(urlRender, "Render_ID", "Render Title");
    	galleries[0].tamir_addImage(urlTop, "Top_ID", "Top Title");
    	galleries[0].tamir_addImage(urlFront, "Front_ID", "Front Title");
*/    	
    	waitImage(urlRender,"RenderID","Render Title");
    	waitImage(urlTop, "TopID","Top Title");
    	waitImage(urlFront,"FrontID","Front Title");

    	console.log(galleries[0].images);
	}
</script>
    <label id="tamir-label" urlRender="{{ product.get_item_large_image }}" urlTop="{{ product.get_item_Top_image }}" urlFront="{{ product.get_item_Front_image }}" urlSmall="{{ product.get_item_image }}" statics="{{ STATIC_URL }}"></label>
    {# Images #}
   <div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper">
      </div>
<!--      <div class="ad-controls">
  </div> -->
      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list" id="thumbs_list_id">
            <li>
              <a href="{{ product.get_item_image }}">    
                <img src="{{ product.get_item_image }}" title="Plain" class="image0">    
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>    
    
  
		
    <h1 class="product-title">
        {{ product.get_name }}
    </h1>
<!--
    {# Displayed Properties #}
    <div class="product-properties">
        {% for property in product.get_displayed_properties %}
            <div>
                {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
            </div>
        {% endfor %}
    </div>
-->    
    {% shipping product %}
        <div class="product-properties">
        <a class="button left" href="/create?start_product={{ product.slug }}&material={{ product.get_item_material }}&textParam={{ product.get_item_textParam }}">
           {% trans 'Customize' %}
        </a>
    </div>
    {% average_for_instance product %}

    {# Prices #}
    <div class="prices">
        {% if for_sale %}
            <div>
                <span class="for-sale-standard-price" nowrap="nowrap">
                    <span class="for-sale-standard-price-value">
                        {{ product|get_standard_price_gross:request|currency:request }}
                    </span>
                    * {% if price_unit %}/ {{ price_unit }}{% endif %}</span>
                <span class="for-sale-price" nowrap="nowrap">
                    <span class="for-sale-price-value">
                        {{ product|get_for_sale_price_gross:request|currency:request }}
                    </span>
                    * {% if price_unit %}/ {{ price_unit }}{% endif %}
                </span>
            </div>
            {% if product.get_active_base_price %}
                <div class="base-price">
                    {{ product|get_base_price_gross:request|currency:request }} / {{ product.get_base_price_unit }}*
                </div>
            {% endif %}
            <div class="price-disclaimer">
                {% if price_includes_tax %}
                    {% trans '*inc. VAT' %}
                {% else  %}
                    {% trans '*exc. VAT' %}
                {% endif %}
            </div>
        {% else %}
            <div class="standard-price"
                  nowrap="nowrap">
                  <span class="standard-price-value">{{ product|get_price_gross:request|currency:request }}</span>* {% if price_unit %}/ {{ price_unit }}{% endif %}
            </div>
            {% if product.get_active_base_price %}
                <div class="base-price">
                    {{ product|get_base_price_gross:request|currency:request }} / {{ product.get_base_price_unit }}*
                </div>
            {% endif %}
            <div class="price-disclaimer">
                {% if price_includes_tax %}
                    {% trans '*inc. VAT' %}
                {% else  %}
                    {% trans '*exc. VAT' %}
                {% endif %}
            </div>
        {% endif %}
    </div>

    {# Configurable Properties #}
    {% if product.is_configurable_product %}
        <table class="cp-properties"
               id="cp-url"
               data="{% url lfs_calculate_price product.id %}">

            {% for property in properties %}
                <tr>
                    {% if property.obj.is_select_field %}
                        <td class="property-label">
                            {{ property.title }}:
                        </td>
                        <td>
                            <select class="cp-property"
                                    name="property-{{ property.id }}">
                                {% if not property.obj.required %}
                                    <option>---</option>
                                {% endif %}
                                {% for option in property.options %}
                                    <option value="{{ option.id }}"
                                        {% if option.selected %}selected="selected"{% endif %}>
                                        {{ option.name }}

                                        {% if property.display_price %}
                                         / {{ option.price|currency:request}}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td></td>
                    {% else %}
                        <td class="property-label">
                            {{ property.title }}:
                        </td>
                        <td class="right">
                            {% if property.obj.is_text_field %}
                                <input class="product-input-field text-field" type="input" size="15" maxlength="100" name="property-{{ property.id }}" value="{{ property.value }}" />
                            {% else %}
                                <input class="right product-input-field number-field" type="input" size="6" maxlength="9" name="property-{{ property.id }}" value="{{ property.value }}" />
                            {% endif %}
                        </td>
                        <td>
                            {{ property.unit }}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

<!--    <br clear="both"> -->
    <div class="product-share">
        <span class='st_sharethis_large' st_image="{{ product.get_item_image }}" displayText='ShareThis'></span>
		<span class='st_facebook_large'  st_image="{{ product.get_item_image }}" displayText='Facebook'></span>
		<span class='st_pinterest_large' st_image="{{ product.get_item_image }}" displayText='Pinterest'></span>
	</div>
    {% if product.is_deliverable %}
        <table align="right" class="buttons">
            <tr>
                {% if product.get_active_packing_unit %}
                    <td>
                        <div class="product-quantity packing-unit"
                            id="packing-url"
                            data="{% url lfs_calculate_packing product.id %}">
                            <input class="number quantity"
                                   name="quantity"
                                   size="3"
                                   type="text"
                                   value="{{ quantity }}" /> {{ unit }}
                        </div>
                    </td>
                {% else %}
                    <td>
                        {% if unit %}
                            {{ unit }}:
                        {% else %}
                            {% trans "Quantity" %}:
                        {% endif %}
                    </td>
                    <td class="product-quantity">
                        <input class="number"
                               name="quantity"
                               size="3"
                               type="text"
                               value="{{ quantity }}" />
                    </td>
                {% endif %}
                <td nowrap="nowrap">
                    <button class="emphasized"
                           type="submit"
                           name="add-to-cart">{% trans 'Add to cart' %}</button>
                </td>
            </tr>
        </table>
        <div class="packing-result">
            {{ packing_result }}
        </div>
    {% else %}
        <button class="emphasized"
                onclick="window.location='{% url lfs_contact_form %}'; return false"
                name="">{% trans 'Send request' %}</button>
    {% endif %}

    <p class="product-description">
        {{ product.get_description|safe}}
    </p>

    {# Variants #}
    {% if product.is_variant %}
    
    {% endif %}

    {# Attachments #}
    {% if attachments %}
        <div class="attachments">
            <h1 class="section">{% trans 'Attachments' %}</h1>
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
                        {{ attachment.title}}
                    </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {# Accessories #}
    {% if product_accessories %}
        <div class="accessories">
            <h1 class="section">{% trans 'Accessories' %}</h1>
            <table class="product-accessories lfs-default">
                <tr>
                    <th></th>
                    <th>{% trans 'Name' %}</th>
                    <th class="number">{% trans 'Quantity' %}</th>
                    <th class="number">{% trans 'Price' %}</th>
                    <th class="number last">{% trans 'Total' %}</th>
                </tr>
                {% for product_accessory in product_accessories %}
                    <tr>
                        <td class="checkbox-left">
                            <input type="checkbox"
                                   name="accessory-{{ product_accessory.accessory.id }}"/>
                        </td>
                        <td>
                            <a href="{{ product_accessory.accessory.get_absolute_url }}">
                                {{ product_accessory.accessory.get_name|truncatewords_html:5 }}
                            </a>
                        </td>
                        <td class="number">
                            <input type="hidden"
                                   name="quantity-{{ product_accessory.accessory.id }}"
                                   value="{{ product_accessory.quantity }}" />
                            {{ product_accessory.quantity|quantity }}
                        </td>
                        <td class="number"
                            nowrap="nowrap">
                            {{ product_accessory.accessory|get_price:request|currency:request}}
                        </td>
                        <td class="number"
                             nowrap="nowrap">
                            {{ product_accessory|get_price:request|currency:request}}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <input type="hidden"
           name="product_id"
           value="{{ product.id }}" />

</form>
