{% extends "lfs/base.html" %}
{% load i18n %}

{% block head %}
    {% if shop.get_meta_keywords %}
        <meta name="keywords" content="{{ shop.get_meta_keywords }}" />
    {% endif %}
    {% if shop.get_meta_description %}
        <meta name="description" content="{{ shop.get_meta_description }}" />
    {% endif %}
{% endblock %}

{% block page_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/explorer-shop.js"></script>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>
            {% trans 'Products' %}
        </li>
    </ul>
{% endblock %}

{% block content %}
	<div id="home-product-list">
		{% for product in products %}
			<div class="home-product">
				<a class="home-product-pointer" href="{{ product.get_url }}">
					<img class="home-product-mainImage" src="{{ product.get_item_image }}" alt="Product Image">
					<p class="home-product-name">
        				{{ product.name }}
    				</p>
					<div class="home-product-lovemeImage" slug="{{ product.slug }}" onclick="return hart_clicked(this)" alt="loveme"><small>{{ product.get_product_lovers }}</small></div>
					<div class="home-product-customize">
						<a href="/create/wizard?start_product={{ product.slug }}&material={{ product.item.material }}&textParam={{ product.item.textParam }}&product_type=variant" class="button">Customize</a>
						</div>
					<p class="home-product-price">
        				{{ product.get_price_formatted }}
    				</p>
    			</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}