{% load i18n %}
{% load lfs_tags %}
{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}{{ SHOP.get_meta_title }}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/ico" />
        {% block head %}{% endblock %}
        <meta name="google-site-verification" content="qGdLnamaMsZGRBDhB5m68JrsKzj2k39v_nqGNsdOOCc" />
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
         {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
         {% endcompress %}
         <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.7.2.min.js"></script>
         
         <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.validate.pack.js"></script>
         <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.contactable.js"></script>
         <script type="text/javascript" src="{{ STATIC_URL }}js/contact.js"></script>
         </head>
<body class="login">
	<div id="contact"><!-- contactable html placeholder --></div>
<div class="login-center">
	<div style="margin-left: 125px; margin-top: 10px; clear:both; overflow: hidden;">
		<img style="background-color: transparent; float: left; clear: none;" src="{{ STATIC_URL }}img/logo-trans.png"/><div style="margin-top: 20px; padding-left: 12px; float: left; clear: none; overflow:hidden; font-size: 45px; font-family: 'TMFreeScript';">designers preview</div>
	</div>
	<div style="margin-top: 40px;">
	<h2 style="margin-top: 0px; margin-bottom:0px;">ThingsMaker is a one of a kind offering for generative designers.</h2>
	
	<h2 style="margin-top: 0px; margin-bottom:0px;">Let real customers interact with your models in real time and buy them.</h2>

	<h2 style="margin-top: 20px; margin-bottom:0px; font-size: 20px;">The site will be launched to the public in the coming months, we are still working on it. </h2>
	<h2 style="margin-top: 5px; margin-bottom:0px; font-size: 20px;">Please take a look at our site and <a id="contact-link" href="#">contact us</a> for cooperation.</h2>
	</div>
	<a class="fblogin" href="{% url socialauth_begin 'facebook' %}?{{ redirect_querystring }}"><div class="fblogin"></div></a>
	<h3 style="margin-top: 5px; margin-bottom:0px; font-size: 12px;">If you don't have Facebook please <a id="contact-link-1" href="#">contact us</a> for invitation.</h3>
</div>

</body>