{% load i18n %}
{% load lfs_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}{{ SHOP.get_meta_title }}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/ico" />
        {% block head %}{% endblock %}
        <meta name="google-site-verification" content="qGdLnamaMsZGRBDhB5m68JrsKzj2k39v_nqGNsdOOCc" />
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
         </head>
<body style="background-size: 100%; background-image:url("{{ STATIC_URL }}images/cellular1.png");"></body>
<div>
        <form class="authenticate"
              action="{% url lfs_login %}"
              method="post">
            {% csrf_token %}

            <div class="form">
                <table>
                    {{ login_form }}
                </table>
            </div>

            <input type="hidden"
                   name="action"
                   value="login" />

            <input type="hidden"
                   name="next"
                   value="{{ next_url }}" />

            <button type="submit"
                    class="button login-button emphasized left">{% trans 'Login' %}</button>
        </form>
</div>
