{% extends "lfs/base.html" %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>
            {% trans 'Products' %}
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class="content-title">
<img src="{{ STATIC_URL }}img/IconNormalCreateBig.png" /><h1>Create</h1>
</div>
<hr style="margin: 0px; background-color: rgba(0,0,0, 0.1);">
<hr style="margin-top: 0px; background-color: rgba(255,255,255, 0.9);">
	<div id="products">
		{% for product in products %}
			<div class="products-product">
				<h3>{{ product.name }}</h3>
				<div class="products-product-inner">
					<a href="/create?start_product={{ product.slug }}">
						<img src="{{ product.get_image }}">
					</a>
					<p class="product-description">
	        			{{ product.get_description|safe}}
	    			</p>
	    			<div class="buttons">
		    			<a class="button left emphasized" href="/create?start_product={{ product.slug }}">
		           			{% trans 'Make Yours' %}
		       			</a>
	       			</div>
       			</div>
       			<a class="products-product-link" href="/designers">
		           			{% trans 'See what others made' %}
		           			<font style="font-size:9px;">&gt;</font>
		           			
		       	</a>
			</div>
		{% endfor %}
			<div class="products-product">
				<h3>Your Grasshopper Definition</h3>
				<div class="products-product-inner">
					<a href="/designers">
						<img src="{{ STATIC_URL }}img/your_definition.jpg">
					</a>
					<p class="product-description">
	        			{{ product.get_description|safe}}
	    			</p>
	    			<div class="buttons">
		    			<a class="button left emphasized" href="/designers">
		           			{% trans 'Make Yours' %}
		       			</a>
	       			</div>
       			</div>
       			<a class="products-product-link" href="/designers">
		           			{% trans 'Learn more' %}
		           			<font style="font-size:9px;">&gt;</font>
		           			
		       	</a>
			</div>
	</div>
{% endblock %}
