{% extends "lfs/base.html" %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>
            {% trans 'Products' %}
        </li>
    </ul>
{% endblock %}

{% block content %}
	<div id="products">
		{% for product in products %}
			<div class="products-product">
				<img src="{{ product.get_image }}">
				<h3>{{ product.name }}</h3>
				<p class="product-description">
        			{{ product.get_description|safe}}
    			</p>
    			<div class="buttons">
	    			<a class="button left" href="/create?start_product={{ product.slug }}">
	           			{% trans 'Make yours' %}
	       			</a>
	       			<a class="button left" href="/products_by_name/{{ product.name }}">
	           			{% trans 'See what others made' %}
	       			</a>
       			</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
