{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block page_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/create.js"></script>
{% endblock %}
{% block title %}
    {% trans 'Create' %} - {{ block.super }}
{% endblock %}

{% block section %}create{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Create") %}
{% endblock %}

{% block content %}
	<div id="wizard">
	{% if definition.accepts_text_params %}
    <div title="Add Text" id="create-param-text">
    	<div><p>Enter text to be part of your design</p></div>
    	<div><input type="text" id="create-param-text-input"></div>
    	<button id="text-next" type="button" class="ui-state-default ui-corner-all jw-button-next">Continue</button>
    </div>
    {% endif %}
    {% for param in params %}
    	<div title="Select {{ param.readable_name }}" id="create-param-{{ param.index }}"></div>
    {% endfor %}
    <div title="Select material" id="create-param-material">images</div>
</div>
{% endblock %}