{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block page_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/create.js"></script>
{% endblock %}
{% block title %}
    {% trans 'Create' %} - {{ block.super }}
{% endblock %}

{% block section %}create{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Create") %}
{% endblock %}

{% block content %}
	<div id="wizard">
    <div title="Add Text" id="create-param-text">
    	<div><p>Enter text to be part of your design</p></div>
    	<div><input type="text"></div>
    	<button id="text-next" type="button" class="ui-state-default ui-corner-all jw-button-next">Continue</button>
    </div>
    <div title="Set basic shape" id="create-param-0"></div>
    <div title="Set line width" id="create-param-1"></div>
    <div title="Set line spaceing" id="create-param-2"></div>
    <div title="Set material" id="create-param-material">images</div>
</div>
{% endblock %}