{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block page_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/create.js"></script>
{% endblock %}
{% block uncompressed_page_js %}
	<script type="text/javascript">var switchTo5x=false;</script>
	<script type="text/javascript">var useFastShare=false;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "36099e7a-a82b-4963-acce-96e8892c1e3f"}); </script>
{% endblock %}
{% block title %}
    {% trans 'Create' %} - {{ block.super }}
{% endblock %}

{% block section %}create{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Create") %}
{% endblock %}

{% block content %}
	<div class="content-title container">
<img src="{{ STATIC_URL }}img/IconNormalCreateBig.png" /><h1>Create</h1>
</div>
<div id="wizard">
	{% if not product.is_variant %}
	<div title="Start Model" id="create-param-start">
		<div class="create-image-container"></div>
	</div>
	{% endif %}
	{% if definition.accepts_text_params %}
    <div title="Text" id="create-param-text">
    	<div><p>Enter text to be part of your design</p></div>
    	<div><input type="text" maxlength="16" size="17" id="create-param-text-input" value="LOVE"></div>
    	<a class="button" id="text-next">
	          {% trans 'Continue' %}
	    </a>
    	</div>
    {% endif %}
    <div title="Material" id="create-param-material">
    	<div class="create-image-container"></div>		
    </div>
    {% for param in params %}
    	<div title="{{ param.readable_name|capfirst }}" id="create-param-{{ param.index }}">
    		<div class="create-image-container"></div>
    	</div>
    {% endfor %}
</div>
<div id="create-finish-dialog">
	<div id="create-finish-dialog-left"></div>
	<div id="create-finish-dialog-right">
		<h3>Your new {{ product.name|lower }} is ready.</h3>
		<button type="button" class="button left" id="create-show-details">Make It</input>
		<button type="button" class="button left" id="create-continue-creating">Continue Creating</input>
	</div>
</div>
<div id="create-makeit-dialog">
	<div id="create-makeit-dialog-left"></div>
	<div id="create-makeit-dialog-right">
		<h3>You made it, You can name it..</h3>
		<input type="text" id="new-product-name" value="My precious" />
		<h3>Share your creation</h3>
		<div class="product-share-popup" style="clear: both">
		<span class='st_facebook_large'  st_image="{{ product.get_item_image }}" displayText='Facebook'></span>
		<span class='st_pinterest_large' st_image="{{ product.get_item_image }}" displayText='Pinterest'></span>
		<span class='st_twitter_large'  st_image="{{ product.get_item_image }}" displayText='Tweet'></span>
		<span class='st_email_large' st_image="{{ product.get_item_image }}" displayText='Email'></span>
		</div>
		<button type="button" class="button right" style="clear: both">Continue</input>
	</div>
</div>
<div class="create-tip-dialog" id="create-tip-dialog-1">
	<div>Click the design you like most</div>
	<img src="{{STATIC_URL}}img/Arrow03.png"/>
</div>
<div class="create-tip-dialog" id="create-tip-dialog-2">
	<div style="margin-right: 15px; margin-top: 30px; float: left; clear: none; height: 40px;"><img src="{{STATIC_URL}}img/Arrow02.png"/></div>
	<div style="padding-left: 10px;">You can always jump to any step</div>
</div>
<div class="create-tip-dialog" id="create-tip-dialog-3">
	<div>When you love your creation click Done!</div>
	<div style="float: right; margin-right: 5px; margin-top: 5px;"><img src="{{STATIC_URL}}img/Arrow01.png"/></div>
</div>
<div style="display: none">
	{% if product.is_variant %}
		<img id="start-product-img" src="{{ product.get_item_image }}" />
	{% endif %}
</div>
{% endblock %}