{% extends "lfs/base.html" %}
{% load i18n %}

{% block head %}
    {% if shop.get_meta_keywords %}
        <meta name="keywords" content="{{ shop.get_meta_keywords }}" />
    {% endif %}
    {% if shop.get_meta_description %}
        <meta name="description" content="{{ shop.get_meta_description }}" />
    {% endif %}
{% endblock %}

{% block page_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cycle.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/explorer-shop.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/shop-starter.js"></script>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>
            {% trans 'Home' %}
        </li>
    </ul>
{% endblock %}

{% block content %}
    {{ shop.static_block.html|safe }}
    
    <div id="home-banner">
    	<a class="button" href="/products">
    		
	    </a>
    	<div id="slideshow">
    		<div class="image-container" id="banner-bg">
    			<img src="{{ STATIC_URL }}img/HpBannerBG.png" alt="" />
    		</div>
    	
    		<div class="image-container" id="im-r-r1">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0006_Layer-158.png" alt="" />
    		</div>
    		<div class="image-container" id="im-r-r2">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0004_Layer-156.png" alt="" />
    		</div>
    		<div class="image-container" id="im-r-r3">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0005_Layer-157.png" alt="" />
    		</div>
    		
    		<div class="image-container" id="im-r-l1">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0003_Layer-161.png" alt="" />
    		</div>
    		<div class="image-container" id="im-r-l2">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0001_Layer-159.png" alt="" />
    		</div>
    		<div class="image-container" id="im-r-l3">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0002_Layer-160.png" alt="" />
    		</div>
    		

    		<div class="image-container" id="im-p-l1">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0011_Layer-162.png" alt="" />
    		</div>
    		<div class="image-container" id="im-p-l2">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0012_Layer-163.png" alt="" />
    		</div>
    		<div class="image-container" id="im-p-l3">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0013_Layer-152.png" alt="" />
    		</div>
			<div class="image-container" id="im-p-l4">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0014_Layer-131.png" alt="" />
    		</div>
    		
    		<div class="image-container" id="im-p-l5">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0015_Layer-164.png" alt="" />
    		</div>
    		<div class="image-container" id="im-p-l6">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0016_Layer-165.png" alt="" />
    		</div>
    		<div class="image-container" id="im-p-l7">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0017_Layer-166.png" alt="" />
    		</div>
			<div class="image-container" id="im-p-l8">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0018_Layer-167.png" alt="" />
    		</div>


    		<div class="image-container" id="im-p-c1">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0009_Layer-120.png" alt="" />
    		</div>
    		<div class="image-container" id="im-p-c2">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0010_Layer-119.png" alt="" />
    		</div>
    		   		
			<div class="image-container" id="im-p-r1">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0007_Layer-154.png" alt="" />
    		</div>
    		<div class="image-container" id="im-p-r2">
    			<img src="{{ STATIC_URL }}img/HpAnim_0001s_0008_Layer-155.png" alt="" />
    		</div>
    		
    		<div class="image-container" id="hpbutton" style="margin-left:5px;margin-top:2px;">
    			<img src="{{ STATIC_URL }}img/HpButtonWithBG.png" alt="" />
    		</div>
    	</div>
    	<div id="home-message">
    		<div class="image-container">
    			<img src="http://ez3d_media.s3.amazonaws.com/images/home-shipping.jpg" alt=""  /> 
    			<img style="margin-top: -326px" src="{{ STATIC_URL }}img/empty_banner.jpeg" alt=""  />
    			<div id="home-banner-text" style="margin-top: -20px">
    				<div><span style="font-size:40px">your</span> <span>design</span></div>
    				<div style="margin-top:-20px; margin-left: 30px;"><span style="font-size:40px">your</span> <span style="margin-left: 10px">vision</span></div>
    				<div style="margin-top:-20px; margin-left: 60px;"><span style="font-size:40px">your</span> <span style="margin-left: 0px">creation</span></div>
    				<div style="margin-top:-20px; margin-left: 10px;color: yellow"><span style="font-size:40px">is our</span> <span style="margin-left: 0px">inspiration</span></div>
   			    </div>
    		</div>
    	</div>
<!--    	
    	<div id="home-message">
    		<div class="image-container">
    			<img src="http://ez3d_media.s3.amazonaws.com/images/home-shipping.jpg" alt=""  />
    		</div>
    	</div>
-->    	
    </div>
	<div id="top-inspirations">
		<a style="text-decoration:none" href="sorted_products/{%22page_name%22:%22Popular%22,%22limits%22:%220-80%22,%22sorter%22:%22stock_amount%22}">
		<div class="panel-heading">
			<h3>Popular</h3>
		</div>
		</a>
	</div>
	<div id="recent-products">
		<a style="text-decoration:none" href="sorted_products/{%22page_name%22:%22Recent%22,%22limits%22:%220-80%22,%22sorter%22:%22creation_date%22}">
		<div class="panel-heading">
			<h3>Recent</h3>
		</div>
		</a>
	</div>
{% endblock %}
