{% extends "lfs/base.html" %}
{% load i18n %}

{% block head %}
    {% if shop.get_meta_keywords %}
        <meta name="keywords" content="{{ shop.get_meta_keywords }}" />
    {% endif %}
    {% if shop.get_meta_description %}
        <meta name="description" content="{{ shop.get_meta_description }}" />
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>
            {% trans 'Home' %}
        </li>
    </ul>
{% endblock %}

{% block content %}
    {{ shop.static_block.html|safe }}
    <div id="slideshow">
	    <img src="http://s3.amazonaws.com/amit_Bucket/c3e6b528-ae9a-11e1-9faf-b88d1212eb4e_300.jpg" alt="" class="active-img" />
	    <img src="http://s3.amazonaws.com/amit_Bucket/62381c68-aea4-11e1-b18e-b88d1212eb4e_300.jpg" alt="" />
	    <img src="http://s3.amazonaws.com/amit_Bucket/1a635d87-aea1-11e1-9ce5-b88d1212eb4e_300.jpg" alt="" />
	    <img src="http://s3.amazonaws.com/amit_Bucket/58a5dee8-aea1-11e1-8034-b88d1212eb4e_300.jpg" alt="" />
	    <img src="http://s3.amazonaws.com/amit_Bucket/1ef04a3d-aea4-11e1-aa09-b88d1212eb4e_300.jpg" alt="" />
	    <img src="http://s3.amazonaws.com/amit_Bucket/917fb0b8-aea3-11e1-908a-b88d1212eb4e_300.jpg" alt="" />
	    <div id="ddd1" class="active-txt"><h1>One of a kind products just for you...</h1></div>
	    <div id="ddd2" ><h1>Create yours now!</h1><h1>And inspire your friends...</h1></div>
	    <div id="ddd3" ><h1>Like it?</h1><h1>You can even sell your creations!</h1></div>
	</div>
	
	<div id="recent-products">
		<div class="panel-heading">
			<h3>Recent Creations</h3>
		</div>
	</div>
	<div id="top-inspirations">
		<div class="panel-heading">
			<h3>Top Inspirations</h3>
		</div>
	</div>
{% endblock %}
