{% extends "lfs/base.html" %}
{% load i18n %}

{% block head %}
    {% if shop.get_meta_keywords %}
        <meta name="keywords" content="{{ shop.get_meta_keywords }}" />
    {% endif %}
    {% if shop.get_meta_description %}
        <meta name="description" content="{{ shop.get_meta_description }}" />
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li>
            {% trans 'Home' %}
        </li>
    </ul>
{% endblock %}

{% block content %}
    {{ shop.static_block.html|safe }}
    <div id="home-img">
    	<img src="https://s3.amazonaws.com/ez3d_media/home_products.jpg" alt=""/>
    </div>
    
	<div id="top-inspirations">
		<div class="panel-heading">
			<h3>Popular Inspirations</h3>
		</div>
	</div>
	<div id="recent-products">
		<div class="panel-heading">
			<h3>Recent Creations</h3>
		</div>
	</div>
{% endblock %}
