{% load i18n %}

<div class="tabs">
    <ul>
        <li id="home-tab">
            <a href="/">
            	<img id="home-tab-img" src="/static/images/logo_home.png" \>
            </a>                                            
        </li>
        {% for tab in tabs %}
            <li {% if tab.selected %}class="selected"{% endif %}>
                <a href="{{ tab.link }}">
                    {{ tab.title }}
                </a>                                
            </li>            
        {% endfor %}
        <li id="last-tab">                                          
        </li>
    </ul>
 
</div>