{% load i18n %}
{% load lfs_tags %}

<div class="tabs">
    <ul>
        <li id="home-tab">
            <a href="/">
            	<img id="home-tab-img" src="{{ STATIC_URL }}img/logo.png" \>
            </a>                                            
        </li>
        {% for tab in tabs %}
            <li {% if tab.selected %}class="selected"{% endif %}>
                <a id="tab-{{ tab.title }}" href="{{ tab.link }}">
     				<div class="icon"><span class="nohov"></span><span class="hov"></span></div>
     				<div>
                    {{ tab.title }}
                </div>
                </a>                           
            </li>            
        {% endfor %}
       <li id="cart-tab">  
	 		<a href="/cart">
	 			{% if num_cart_items %}
	 			<span>{{ num_cart_items }}</span> 
	 			{% endif %}
	 		</a>                                  
		</li>
    </ul>
</div>