.noTitleStuff .ui-dialog-titlebar {display:none}
.ui-button {
	margin: 0;
	color: #58585A !important;
}

#home-img  {
	position: relative;
	padding: 12px 12px 12px 12px;
	border-radius: 4px;
	border:1px solid;
	border-color: #ECECEC;
	background-color: #f3fffe;
}
#home-img IMG {
	width: 924px;
	border-radius: 4px;
	border: 0px solid;
}
#home-img BUTTON {
	border-radius: 8px;
	border: 1px solid;
	position: absolute;
	padding: 12px;
	top: 388px;
	left: 418px;
	font-size: 28px;
	background-color: green;
	color: black;
}
#home-tab {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border: 0px solid;
	margin-right: 2px;
}
#last-tab {
	margin-right: 0px;
	width: 500px;
	position: absolute;
	right: 102px;
	height: 60px;
	z-index: -1;
}
#cart-tab {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 0px solid;
	margin-left: 2px;
	width: 100px;
	position: absolute;
	right: 0px;
	height: 60px;
	z-index: -1;
}
#cart-tab img {
	position: absolute;
	right: 30px;
	top: 16px;
	width: 30px;	
}
#home-tab A {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;	
	border: 0px solid;
}
#home-tab-img {
	width: 150px;
	border: 0px solid;
	padding: 18px 0px 18px 0px;
}
#slideshow {
    position:relative;
    height:350px;
    width: 700px;
    margin-left: auto;
  	margin-right: auto;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    height:350px;
    width: 350px;
    z-index:8;
}

#slideshow IMG.active-img {
    z-index:10;
}

#slideshow IMG.last-active-img {
    z-index:9;
}

#slideshow DIV {
    position:absolute;
    top:0;
    left:350px;
    z-index:8;
    width: 338px;
    height: 350px;
    padding: 30px;
    font-size: 17px;
    color: #58585A;
    background-color: #EEE;
}

#slideshow  DIV.active-txt {
    z-index:10;
}

#slideshow DIV.last-active-txt {
    z-index:9;
}

#recent-products {
	margin-top: 13px;
	position:relative;
	overflow: auto;
}
#top-inspirations {
	margin-top: 20px;
	position:relative;
	overflow: auto;
}

.home-product {
	float: left; 
	width: 183px;
	padding: 7px 7px 3px 7px; 
	margin: 0px 7px 10px 0px; 
	border: 1px;
	border-style:solid;
	border-color: #ECECEC;
}

.home-product IMG {
	width: 167px; 
	height: 167px;
	margin: 0px 0px 3px 0px; 
	padding: 0px;
	float: left; 
}

.home-product-name {
	width: 168px; 
	height: 20px;
	padding: 0px 0px 0px 4px;
	margin: 0px;
	float: left; 
}

.home-product-price {
	text-align:right;
	width: 168px; 
	height: 20px;
	padding: 0px 4px 0px 0px;
	float: right; 
	margin: 0px;
	color: green;
}




