.noTitleStuff .ui-dialog-titlebar {display:none}
.ui-button {
	margin: 0;
	color: #58585A !important;
}

#slideshow {
    position:relative;
    height:350px;
    width: 700px;
    margin-left: auto;
  	margin-right: auto;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    height:350px;
    width: 350px;
    z-index:8;
}

#slideshow IMG.active-img {
    z-index:10;
}

#slideshow IMG.last-active-img {
    z-index:9;
}

#slideshow DIV {
    position:absolute;
    top:0;
    left:350px;
    z-index:8;
    width: 338px;
    height: 350px;
    padding: 30px;
    font-size: 17px;
    color: #58585A;
    background-color: #EEE;
}

#slideshow  DIV.active-txt {
    z-index:10;
}

#slideshow DIV.last-active-txt {
    z-index:9;
}

#recent-products {
	margin-top: 20px;
	position:relative;
	overflow: auto;
}
#top-inspirations {
	margin-top: 20px;
	position:relative;
	overflow: auto;
}

.home-product {
	float: left; 
	width: 183px;
	padding: 7px 7px 7px 7px; 
	margin: 0px 7px 10px 0px; 
	border: 1px;
	border-style:solid;
	border-color: #ECECEC;
}

.home-product IMG {
	width: 168px; 
	height: 168px;
	margin: 0px 0px 3px 0px; 
	padding: 0px;
	float: left; 
}

.home-product P {
	width: 178px; 
	height: 20px;
	padding: 0px 4px 6px 4px;
	float: left; 
}



